[apply]
    whitespace = fix
[branch]
    autosetupmerge = true
    autosetuprebase = remote
[color]
    ui = auto
[core]
    editor = vim
    pager = less -+$LESS -FRSX +'/^---'
    autocrlf = input
    excludesfile = ~/.gitignore
	safecrlf = warn
[format]
    subjectprefix = PATCH
    suffix = .patch.txt
    numbered = true
    attach = true
[merge]
    tool = vimdiff3
[sendemail]
    smtpserver = /usr/local/bin/msmtp
    suppressfrom = true
    chainreplyto = false
    thread = true
    compose = true
    confirm = auto
[user]
    name = elij
    email = elij.mx@gmail.com
    signingkey = A3925B9E
[alias]
    co = checkout
    st = status -s
    unstage = reset HEAD
    wdiff = diff --color-words
    wshow = show --color-words
    type = cat-file -t
    dump = cat-file -p
    qlog = log --pretty=oneline --abbrev-commit --graph --decorate
    lg = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen%ad%Creset |%C(yellow)%d%Creset %s [%an]' --abbrev-commit --date=short
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --branches --remotes
[push]
    default = tracking
[mergetool "vimdiff3"]
    cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool "gvimdiff3"]
    cmd = gvim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
